<h1>
  Photo Details
</h1>


<dl>
  <dt>
    Image
  </dt>
  <dd>
    <img src = <%= @the_photo.image %>>
  </dd>
  <dt>
    Caption
  </dt>
  <dd>
    <%= @the_photo.caption %>
  </dd>

  <dt>
    Owner
  </dt>
  <dd>
    <%= @the_photo.owner.username %>
  </dd>

  <dt>
    Posted
  </dt>
  <dd>
    <%= time_ago_in_words(@the_photo.created_at) %> ago
  </dd>

  <dt>
    Likes count
  </dt>
  <dd>
    <% if @the_photo.likes_count != nil %>
      <%= @the_photo.likes_count %>
    <% else %>
    0
    <% end %>
  </dd>

  <dt>
    Comments count
  </dt>
  <dd>
    <% if @the_photo.comments_count != nil %>
      <%= @the_photo.comments_count %>
    <% else %>
    0
    <% end %>
  </dd>

  <dt>
    Fans
  </dt>
  <dd>
    <% list_of_fans = Array.new %>
    <% @the_photo.likes.reverse_each do |user| %>
    <% list_of_fans.push(user.fan.username) %>
    <% end %>
    <%= list_of_fans.to_sentence %>
  </dd>

  <dt>
    Add a fan
  </dt>
  <dd>
    <% if @the_photo.likes.where({ :fan_id => @current_user.id }).at(0) == nil %>
    <form action ="/insert_like" method = "post">
    <input type = "hidden" name ="query_photo_id" value = <%= @the_photo.id %>>
    <button>Like</button>
    </form>
    <% else %>
    <a href ="/delete_like/<%= @the_photo.likes.where({ :fan_id => @current_user.id }).at(0).id %>">Unlike</a>
    <% end %>
  </dd>
</dl>


<% if @current_user.id == @the_photo.owner.id %>
<dt>
  Edit photo
</dt>
  <dd>
  <form action="/modify_photo/<%= @the_photo.id %>" method="post">
    <label for="image_box">
      Image URL
    </label>
    <input type="file" id="image_box" name="query_image" placeholder = "No file chosen">

    <label for="caption_box">
      Caption
    </label>
    <textarea id="caption_box" name="query_caption" rows="2"  value = <%= @the_photo.caption %>><%= @the_photo.caption %></textarea>

    <label for="owner_id_box">
    </label>
    <input type="hidden" id="owner_id_box" name="query_owner_id" value = <%= @current_user.id %>>

    <button>
      Update photo
    </button>

  </form>
  </dd>
<dt>
  Delete photo
</dt>
<dd>
  <a href = "/delete_photo/<%= @the_photo.id %>">Delete this photo<a>
</dd>


<% end %>

<h2>
  Comments
</h2>

<table>
  <th>
    Commenter
  </th>

  <th>
    Comment
  </th>

  <th>
    Posted
  </th>

  <% @the_photo.comments.each do |comment| %>
  <tr>
    <td>
      <%= comment.author.username %>
    </td>

    <td>
      <%= comment.body %>
    </td>

    <td>
      <%= time_ago_in_words(comment.created_at)%> ago
    </td>
  </tr>
  <% end %>
</table>



<h3>Add a new comment</h3>
<form action="/insert_comment"  method="post" >
    <input id="browser_photo_id" type="hidden" value="<%= @the_photo.id %>" name="query_photo_id">
    <input id="browser_id" type="hidden" value="<%= @current_user.id %>" name="current_user_id">
    <label for="comment_box">
      Comment
    </label>


    <textarea id="comment_box" name="query_body" placeholder = "Enter a comment..."></textarea>
    <button>Add comment</button>
</form>